//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #4881FF;
$secondary: #11369C;
$theme-dark-body-bg: #222222;
$dark-color: #222222;
$theme-dark-card-bg: #111111;
$menu-dark-bg-color: #111111;
$theme-dark-table-bg: #222222;
$theme-dark-table-header-bg: #111111;
$theme-dark-input-bg: #222222;
$theme-dark-pagination-bg: #222222;
